html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/ep_naturalwhite.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(0,0,0,0.8);
}

/*
 * Styles for the deck of cards
 */
@media screen and (min-width: 800px){
  .deck {
      width: 600px;
      min-height: 600px;
    }
  .deck .card {
        height: 125px;
        width: 125px;
    }
  .score-panel{
    width: 400px;
  }
  .deck .card.show {
        font-size: 40px;
        color: rgba(0,0,0,0.5)
    }
  h1{
    font-size:50px;
    font-weight: 300;
  }
}

@media screen and (min-width: 411px) and (max-width:799px){
  .deck {
      width: 400px;
      height:400px;
   }

  .deck .card {
        height: 80px;
        width: 80px;
    }
  .score-panel{
      width: 400px;
    }
  .deck .card.show {
          font-size: 40px;
          color: rgba(0,0,0,0.5)
      }
  h1{
        font-size:50px;
        font-weight: 300;
      }
}

@media screen and (max-width:410px){
  .deck {
      width: 350px;
      height:350px;
   }

  .deck .card {
        height: 70px;
        width: 70px;
    }
  .score-panel{
      width: 350px;
    }

  .deck .card.show {
        font-size: 25px;
        color: rgba(0,0,0,0.5)
    }
  h1{
        font-size:40px;
        font-weight: 300;
    }

}


.deck {
    background: rgba(255,255,255,0.5);
    padding: 32px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    font-size: 0;
    background:#ffffff url('../img/ep_naturalwhite.png');
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,160,122,0.8);
    box-shadow: 5px 2px 20px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-duration: 0.8s;
}

.deck .card.open {
    transform: rotateY(0);
    background:#ffffff url('../img/paper_texture_04.png');
    cursor: default;
}

.deck .card.match {
    cursor: default;
    background:#ffffff url('../img/paper_texture_03.png');
    font-size: 40px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: rgba(255,160,122,1);
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
   margin-left: 50px;
}

.score-panel .clock {
    margin-left:50px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    color: rgba(255,160,122,1);
}

.modal_background{
    position:absolute;
    height: 100%;
    width: 100%;
    background: #ffffff url('../img/ep_naturalwhite.png');
}
.modal_body{
    position: absolute;
    width: 400px;
    height:300px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}
.you_win_icon{
    width:50px;
    font-size: 50px;
    color: rgba(255,160,122,1);
    margin: auto;
}
.you_win{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: 500;
    color: rgba(0,0,0,0.8);
    text-align:center;
}
.info{
    align-items: center;
    margin:auto;
    padding-top: 20px;
    width:200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}
.hide{
    display: none;
}
